.admin-container {
  text-align: center;
  padding: 50px;
  background: #fff;
}

.stats {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.card {
  padding: 15px;
  background: #ff4081;
  color: white;
  font-size: 18px;
  border-radius: 5px;
}
